<a href="https://colab.research.google.com/github/Arun478323/Arun478323/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# Password checker
password = ""
while password != "python123":
    password = input("Enter password: ")
print("Access granted!")

Enter password: python123
Access granted!

In [4]:
# Print each student name
students = ["Alex", "Taylor", "Jordan"]
for student in students:
    print(student)

# Calculate total marks
marks = [85, 92, 78, 90]
total = 0
for mark in marks:
    total += mark
print("Total:", total)

Alex
Taylor
Jordan
Total: 345

In [ ]:
A=str(input ("Enter the operator"))
num1=int(input ("Enter the first number"))
num2=int(input ("Enter the second number"))
if (A=="+"):
    R1= num1+num2
    print(R1)
elif (A=="-"):
      R2= num1-num2
      print(R2)
elif (A=="-"):
     R3= num1*num2
     print(R3)
elif (A=="/"):
     R4= num1/num2
     print(R4)

In [3]:
# Print each student name
students = ["Alex", "Taylor", "Jordan"]
for student in students:
    print(student)

# Calculate total marks
marks = [85, 92, 78, 90]
total = 0
for mark in marks:
    total += mark
print("Total:", total)

Alex
Taylor
Jordan
Total: 345